body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Light gray background for the entire page */
  min-height: 100vh;
}

header {
  background-color: #07f452; /* Green background for the header */
  color: #fff; /* White text color */
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow effect */
}

main {
  background-image: url('https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh; /* Ensure main covers the full height of the viewport */
}

main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   
  pointer-events: none; /* Allow interactions through the overlay */
}

.input-section, .recommendation-section {
  background-color: rgba(255, 255, 255, 0.8); /* Slight transparency for better contrast with background */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 80%;
  max-width: 600px;
}

label {
  display: block;
  margin-bottom: 10px;
}

select, input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.required {
  color: red;
  font-weight: bold;
}

#recommended-crops {
  list-style: none;
  padding: 0;
  margin: 0;
}

#recommended-crops li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#recommended-crops li:last-child {
  border-bottom: none;
}